<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>Authorizing...</Authorizing>
                <NotAuthorized>
                    You are not authorized to see this page.
                    Please click here to sign in with the correct user:
                    <a href="@Pages.Authentication.Route">
                        here
                    </a>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>