@inject NavigationManager NavigationManager;
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>Authorizing...</Authorizing>
                <NotAuthorized>
                    <p>
                        Unauthorized: @this.NavigationManager.ToBaseRelativePath(this.NavigationManager.Uri)
                    </p>
                    <p style="color:#00BB00;">
                        If you see this, then the `AuthorizeRouteView` handled navigation correctly.
                    </p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>