@inject NavigationManager NavigationManager;
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>Authorizing...</Authorizing>
                <NotAuthorized>
                    <p>Unauthorized: @NavigationManager.ToBaseRelativePath(NavigationManager.Uri)</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>