@using BlazorAuthorizationOptions.Components.Pages;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://learn.microsoft.com/en-us/aspnet/core/security/authorization/policies">
            AuthorizationOptions in Blazor
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Authentication.Route">
                <AuthorizeView>
                    <Authorized>
                        Account
                    </Authorized>
                    <NotAuthorized>
                        Sign In
                    </NotAuthorized>
                </AuthorizeView>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                Weather
            </NavLink>
        </div>
    </nav>
</div>

